h1{
    color: rgb(16, 0, 255);
    margin-bottom: 60px;
    text-align: center;
}

h3{
    margin-top: 50px;
}

.dash-dropdown, h5 {
    display: inline-block;
    width: 50%;
}

label {
    display: inline-block;
    margin-right: 15px;
}

.con {
    display: flex;
}

.con>div {
    width: 100%;
}